<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.UserMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.User">
        <id column="user_id"  property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_level" property="userLevel"/>
        <result column="user_cost" property="userCost"/>
        <result column="contact_name" property="contactName"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="remark" property="remark"/>
        <result column="is_deleted"  property="isDeleted"/>
        <result column="create_time"  property="createTime"/>
    </resultMap>

    
    <sql id="Base_Column_List">
    user_id, user_name,user_level, user_cost,contact_name, mobile,address, remark, is_deleted, create_time
  </sql>

    <select id="findUserList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where 1=1
        and is_deleted = 0
        <if test="params.userId!=null">
            and user_id = #{params.userId}
        </if>
        <if test="params.userLevel!=null ">
            and user_level = #{params.userLevel}
        </if>
        <if test="params.userName!=null and params.userName!=''">
            and user_name = #{params.userName}
        </if>
        <if test="params.contactName!=null and params.contactName!=''">
            and contact_name = #{params.contactName}
        </if>
        <if test="params.mobile!=null and params.mobile!=''">
            and contact_name = #{params.mobile}
        </if>
        order by create_time desc
        <if test="pageUtil.start!=null and pageUtil.limit!=null">
            limit #{pageUtil.start},#{pageUtil.limit}
        </if>
    </select>

    <select id="getTotalUsers" parameterType="Map" resultType="int">
        select count(*) from user
        where 1=1
        and is_deleted = 0
        <if test="params.userId!=null">
            and user_id = #{params.userId}
        </if>
        <if test="params.userLevel!=null ">
            and user_level = #{params.userLevel}
        </if>
        <if test="params.userName!=null and params.userName!=''">
            and user_name = #{params.userName}
        </if>
        <if test="params.contactName!=null and params.contactName!=''">
            and contact_name = #{params.contactName}
        </if>
        <if test="params.mobile!=null and params.mobile!=''">
            and contact_name = #{params.mobile}
        </if>
    </select>

    

</mapper>