<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.OrderItem">
        <id column="order_item_id"  property="orderItemId"/>
        <result column="order_id"  property="orderId"/>
        <result column="goods_id"  property="goodsId"/>
        <result column="goods_name"  property="goodsName"/>
        <result column="goods_intro"  property="goodsIntro"/>
        <result column="original_price"  property="originalPrice"/>
        <result column="selling_price"  property="sellingPrice"/>
        <result column="goods_count"  property="goodsCount"/>
        <result column="create_time"  property="createTime"/>
    </resultMap>


    <sql id="Base_Column_List">
    order_item_id, order_id, goods_id, goods_name, selling_price, goods_count, 
    create_time,goods_intro,original_price
  </sql>

    <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_item
        where order_id = #{orderItemId}
    </select>
    <select id="selectByOrderIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_item
        where order_id
        in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="ltd.newbee.mall.entity.OrderItem">
        insert into order_item
            (order_id,
             goods_id,
            goods_name,
             selling_price,
            goods_count,
             goods_intro,
             original_price)
        values
        <foreach collection="orderItems" item="orderItem" separator=",">
            (#{orderItem.orderId}, 
             #{orderItem.goodsId},
            #{orderItem.goodsName},
            #{orderItem.sellingPrice},
            #{orderItem.goodsCount},
            #{orderItem.goodsIntro},
            #{orderItem.originalPrice})
        </foreach>
    </insert>


</mapper>